:root {
  --max-width: 1100px;

  --foreground-rgb: white;
  --background-rgb: green;
  --error-rgb: red;
}

html,
body {
  overflow-x: hidden;
}

html {
  font-family: system-ui, sans-serif;
  font-size: 16px;
}

body {
  height: 100svh;
  width: 100svw;
  background: var(--background-rgb);
  color: var(--foreground-rgb);
  overflow: hidden;
  display: flex;
  justify-content: center;
}
