:root {
  --max-width: 1100px;

  --foreground-rgb: white;
  --background-rgb: green;
  --error-rgb: red;
}

html,
body {
  overflow-x: hidden;
}

html {
  font-family: system-ui, sans-serif;
  font-size: 16px;
}

body {
  height: 100svh;
  width: 100svw;
  background: var(--background-rgb);
  color: var(--foreground-rgb);
  overflow: hidden;
  display: flex;
  justify-content: center;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}

.sr-only {
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}
